__pycache__
*.pyc
*.pyo
*.pyd
.Python
.env
.venv
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.db
SSO_HC.db
*.sqlite
*.sqlite3
data/
.env.example
.git
.gitignore
.vscode/
.idea/
__pycache__/
*.log
node_modules/
*.pytest_cache/
tests/
.DS_Store
*.swp
*.swo