# Key bi mat dung de ma hoa token phien dang nhap (Hay thay bang 1 chuoi ky tu ngau nhien)
SECRET_KEY=yoursecretkeyhere

# Duong dan co so du lieu SQLite
DATABASE_URL=sqlite:///SSO_HC.db

# Tai khoan Admin mac dinh cho lan dau khoi tao co so du lieu
DEFAULT_ADMIN_USER=admin
DEFAULT_ADMIN_PASSWORD=admin
